h1 {
  color: rgb(65, 99, 88);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input-line {
  display: flex;
  gap: 16px;
  margin: 16px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background-color: #888;
  color: white;
  padding: 8px;
}

#meaning-btn,
#translate-btn {
  background-color: rgb(108, 146, 175);
  font-size: 120%;
}

form {
  display: flex;
  gap: 16px;
  margin: 16px;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

#error {
    color: red;
    font-weight: 700;
}

#meaning {
    width: 100%;
    text-align: center;
}